# files
*.pdf
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.out
*.gz
*.bcf
*.xml
*.png
*.jpeg
*.jpg
 *.pyc

# folders
.vscode/
.ipynb_checkpoints/

outs/
__pycache__/
data/test.csv
data/train.csv
data/auxiliary-data/sg-commerical-centres.csv
data/auxiliary-data/sg-gov-markets-hawker-centres.csv
data/auxiliary-data/sg-population-demographics.csv
data/auxiliary-data/sg-primary-schools.csv
data/auxiliary-data/sg-secondary-schools.csv
data/auxiliary-data/sg-shopping-malls.csv
data/auxiliary-data/sg-train-stations.csv
data/example-submission.csv
